<html>

<meta http-equiv="refresh" content="59" >

<style type="text/css">
pre { margin: 3 0 0 0; display: block; border-bottom: 1px black; }
pre:hover { background-color: #dddddd }
.details { margin: 5 0 5 0; font-weight: bold; }
</style>

<script src="{{ url_for('static', filename='drawmap.js') }}"></script>

<script>
function show(line) {
  var x = document.getElementById("d" + line);
  if (x.style.display === "none") {
	x.style.display = "block";
  }
  else { x.style.display = "none"; }
}

function createCanvas(cid) {
        var canvas = document.createElement('canvas');
        canvas.id = cid;
        canvas.width = 440;
        canvas.height = 440;
        canvas.style.border = "border:1px solid;";
        return canvas;
}


function openmap(params, line) {
        divel = document.getElementById("d"+line);
        if(divel.childElementCount == 1) {
                canvas = createCanvas("can"+line);
                ctx = canvas.getContext("2d");
		draw(ctx, params);
                divel.appendChild(canvas);
        }
        else {
                document.getElementById("can"+line).remove()

        }

}

function get_az_letter(az) {
  directions = ["N", "NE", "E", "SE", "S", "SW", "W", "NW"];
  return directions[Math.floor(((az + 22.5)%360)/45)];
}

function update_position(id) {
  det = document.getElementsByClassName('details');
  sat = det[id].getAttribute('sat');
  var xhr = new XMLHttpRequest();
  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4){
      el = JSON.parse(xhr.responseText)["el"];
      az = JSON.parse(xhr.responseText)["az"];
      if(el>0) { det[id].innerHTML = "↑" + el + "° ↔" + az + "° [" + get_az_letter(az) + "]"; }
      else { det[id].innerHTML = ""; }

    }
  };
  xhr.open('GET', '/current?sat='+sat+'&loc=JO82');
  xhr.send();
}

document.addEventListener("DOMContentLoaded", function() {
  update_positions();
});

function update_positions() {
  update_position(0);
}

window.setInterval(checkxw, 1000);

</script>

    <head>
        <title>SQ3SWF SAT Predict</title>
    </head>

    <body onload="show(0);">
	{{ content|safe }}
    </body>
</html>
